extends @pugs/default

block content
  head
    script(src="@scripts/menu.js" defer="defer")
  div#but3
    ul#menubuts
      each item in menu
        li
          a(href=item.href)= item.text
  div#controlpanel
    form#formshow
      select#datalist(type="multiple")
        option(name="all",value="all") all
        option(name="firstName", value="firstName") first Name
        option(name="lastName", value="lastName") last Name
        option(name="age", value="age") age
      label(for="usershow")
      input(id="usershow", name="show", disabled, required)
      input#subshow(type="submit" value="GET")
    form#formpost
      label(for="fname")
      input(type="text", id="fname", placeholder="first Name", name="firstName", required)
      br
      label(for="lname")
      input(type="text" id="lname" placeholder="last Name", name="lastName", required)
      br
      label(for="age")
      input(type="text" id="age" placeholder="years", name="age", required)
      br
      input#subpost(type="submit" value="POST")
    form#formrem
      label(for="inputrem")
      input(type="text", id="inputrem", placeholder="id", name="rem", required)
      br
      input#subrem(type="submit" value="DELETE")
  div#usertable
