
const webpack = require('webpack');
const path = require('path');
const NODE_ENV = process.env.NODE_ENV || "development"
const PugPlugin = require('pug-plugin');

module.exports = {
  mode: NODE_ENV,
  devServer: {
    static: path.join(__dirname, 'dist'),
    client: {
      reconnect: 3,
    },
    watchFiles: {
      paths: ['src/**/*.*'],
    },
    compress: true,
    port: 9000,
    proxy: [
      {
        context: ['/api'],
        target: 'http://localhost:3000',
        pathRewrite: { '^/api': '' },
      },
    ],
  },
  module: {
    rules: [
      {
        test: /\.(s?css|sass)$/,
        use: ['css-loader', 'sass-loader'],
      },
      {
        test: /\.(ico|png|jp?g|webp|svg)$/,
        type: 'asset/resource',
        generator: {
          filename: 'img/[name].[hash:8][ext][query]',
        },
      },
    ],
  },
  resolve: {
    alias: {
      '@images': path.join(__dirname, 'src/images'),
      '@scripts': path.join(__dirname, 'src/scripts'),
      '@styles': path.join(__dirname, 'src/styles'),
      '@pugs': path.join(__dirname, 'src/templates'),
    },
  },
  plugins: [
    new PugPlugin({
      entry: [
        {
          import: 'src/templates/home.pug',
          filename: 'index.html',
          data: 'src/pages/home/home.json'
        },
        {
          import: 'src/templates/users.pug',
          filename: 'users.html',
          data: 'src/pages/users/users.json'
        },
        {
          import: 'src/templates/admin.pug',
          filename: 'admin.html',
          data: 'src/pages/admin/admin.json'
        },
      ],
      js: {
        // JS output filename
        filename: 'js/[name].[contenthash:8].js',
      },
      css: {
        // CSS output filename
        filename: 'css/[name].[contenthash:8].css',
      },
    }),
    new webpack.DefinePlugin({
      NODE_ENV: JSON.stringify(NODE_ENV),
    })
  ],
  output: {
    // filename: "[name].[contenthash].js",
    // path: path.resolve(__dirname, "dist"),
    // library: "libra",
  },
  optimization: {
    runtimeChunk: "single",
  },
};
