$border-table: 1px solid rgb(0, 0, 0);

body {
    background-color: rgb(181, 198, 200);
}

p {
    font-size: medium;
    color: purple;
}

th {
    border: $border-table;
}

td {
    border: $border-table;
}

table {
    display: table;
    flex-flow: column nowrap;
    background-color: cornsilk;
    border-radius: .5em;
    align-content: space-around;
    margin-top: 1%;
    border: $border-table;
    border-spacing: 7px;
}

.header-bg {
    background-image: url('@images/picture1.png');
    border-radius: .8em;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

/* --- header panel --- */
#panel {
    display: flex;
    flex-flow: row nowrap;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
}

#panel>a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: xx-large;
}

/* --- hide|show buttons --- */
#but3 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#menubuts {
    display: flex;
    height: 55px;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 50%;
    background-color: rgb(143, 183, 203);
    border-radius: .5em;
    margin-block-start: 0%;
    margin-block-end: 0%;
    padding-inline-start: 0%;
    list-style-type: none;
}

#menubuts>li>a {
    text-decoration: none;
    font: 14px / 100% sans-serif;
    padding: .5em 2em .55em;
    // padding: 10px 10px 10px;
    // text-shadow: 0 1px 2px rgba($color: #00004d, $alpha: 1.0);
    // border-radius: .8em;
    border-radius: .5em;
    // box-shadow: 0 1px, 2px rgba($color: #000033, $alpha: 1.0);
    border: solid 1px #0076a3;
    background: #0095cd;
}

#formpost,
#formrem,
#formshow {
    display: flex;
    height: 30px;
    padding-left: 10%;
    border-radius: .5em;
    background: #623091;
}

#controlpanel {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    gap: 5px;
}

/* --- users table --- */
#userhead {
    display: flex;
    padding-left: 10%;
    background: red;
}

#userlist {
    display: flex;
    padding-left: 10%;
    background: greenyellow;
}

@keyframes push-left {
    0% {
        top: 0;
        right: -95%;
    }

    100% {
        top: 0;
        right: 0;
    }
}

@keyframes push-out {
    0% {
        top: 0;
        right: 0;
        // transform: translate(0px);
    }

    100% {
        right: -95%;
        top: 0;
        // transform: translate(100px);
    }
}

.anibut {
    position: relative;
    // animation: push-left linear 2s alternate;
    animation: push-left ease-in 0.5s;
    animation-fill-mode: forwards;
    // animation-delay: 0.5s;
}

.anibutout {
    position: relative;
    // animation: push-out linear 3s alternate;
    animation: push-out ease-out 1s;
    animation-fill-mode: forwards;
    // animation-delay: 0.5s;
}
